<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed app-secondary">
    <ul class="custom-scrollbar app-secondary">
        <!-- Logo -->
                <li>
                    <div class="logo-wrapper sn-ad-avatar-wrapper">
                        <a href="#"><img alt="profile picture"
                                         src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                                         class="rounded-circle"><span id="user-username"></span></a>
                    </div>
                </li>

        <a href="#" data-toggle="modal" data-target="#fullHeightModalRight">Open me</a>
        <!--/. Logo -->

        <!--Search Form-->
<!--        <li>-->
<!--            <form class="search-form" role="search">-->
<!--                <div class="form-group md-form mt-0 pt-1 waves-light">-->
<!--                    <input type="text" class="form-control app-text app-divider" placeholder="Search">-->
<!--                </div>-->
<!--            </form>-->
<!--        </li>-->
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li class="loading-screen-container loading-user">
            <ul class="collapsible collapsible-accordion">
                <li class="app-divider"><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user"></i>Profile<i
                        class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" onclick="showEditUserView()" class="waves-effect">Edit profile</a>
                            </li>
                            <li><a href="#" class="waves-effect">Monthly meetings</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="app-divider"><a onclick="logout()" class="waves-effect">
                    <i class="fa fa-sign-out-alt"></i>
                    Sign out
                    <form id="logout_form" action="/logout"
                          method="post">
                        <!--                    <input type="hidden"-->
                        <!--                           th:name="${_csrf.parameterName}"-->
                        <!--                           th:value="${_csrf.token}"/>-->
                    </form>
                </a>

                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>

</div>