<div th:fragment="modal-register" class="modal fade " tabindex="-1" role="dialog" id="modal-register"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <th:block th:replace="fragments/register-form">
            </th:block>
        </div>
    </div>
</div>
<div tabindex="-1" role="dialog" id="modal-login" th:fragment="modal-login" class="modal fade"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <th:block th:replace="/fragments/login-form.html"/>
        </div>
    </div>
</div>