<div id="foundRanked" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center app-primary">
                <h3 class="app-text m-auto" id="searchedRanked">Your game is ready</h3>
            </div>
            <div class="loading-part loading-screen-container w-100"></div>
            <div class="modal-body app-background">
                <button type="button" class="btn app-text app-primary" id="readyToPlay" data-target="#foundRanked" data-dismiss="modal">Ready to play</button>
            </div>
        </div>
    </div>
</div>