<div id="minimizedGameSearch" class="app-secondary has-shadow">
    <div class="loading-view-container load"></div>
    <h3 class="app-text">Searching for ranked game</h3>
    <button class="btn app-secondary-accent cancel-search" data-dismiss="modal">Cancel</button>
</div>