<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-right" role="document">


        <div class="modal-content app-background">
            <div class="modal-header app-primary text-center">
                <h4 class="modal-title w-100 text-center app-text">Profile</h4>
            </div>
            <div class="modal-body app-primary-light">
                LONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXTvLONG TEXT LONG TEXTLONG TEXT LONG TEXTLONG TEXT LONG TEXT
                <form>
                    <button class="btn btn-warning">BUTTON</button>
                </form>
            </div>
            <div class="modal-footer justify-content-center app-primary">
                <button type="button" class="btn app-btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn app-btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->