<div class="modal" id="searchRankedModal" tabindex="-1" role="dialog" aria-labelledby="searchedRanked"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center app-primary">
                <h3 class="app-text m-auto" id="searchedRanked">Searching for ranked game...</h3>
            </div>
            <div class="loading-part loading-screen-container w-100"></div>
            <div class="modal-body app-background">
                <button type="button" class="btn app-text app-primary cancel-search" data-target="#searchRankedModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>