<div class="game-wrapper">
    <div class="players">
        <div class="partner hand">
            <p class="username"></p>
        </div>
<!--        <br/>-->
        <div class="enemies">
            <div class="left hand">
                <p class="username"></p>
            </div>
            <div class="right hand">
                <p class="username"></p>
            </div>
        </div>
<!--        <br/>-->
        <div class="you hand">
            <p class="username"></p>
        </div>
    </div>
</div>
