<div class="initial-view app-primary-light">
    <button id="createGame" class="btn app-btn-primary waves-effect">
        Create game
    </button>
    <button id="joinGame" class="btn app-btn-primary waves-effect">
        Join game
    </button>
    <button id="searchRanked" class="btn app-btn-primary waves-effect">
        Search ranked
    </button>


</div>