.user-image-small{
    width:25px;
    height:25px;
    border-radius: 50%;
}
.side-nav {
    font-size:1.2rem;
}
.side-nav .collapsible a{
    font-size:1.2rem;
}
.side-nav .collapsible > li{
    /*margin:5px 0;*/
    border-bottom:1px solid #eee;
}
.side-nav i{
    margin-right:13px;
    /*color:red;*/
    /*background:blue;*/
}
/*TODO maybe needed for fixed sidebar*/
/*header, main, footer {*/
/*    padding-left: 240px;*/
/*}*/