<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Belot</title>

    <link href="/css/libs/bootstrap.css" rel="stylesheet">
    <link href="/css/libs/mdb.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/project-styles/index-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/nav-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/view-container-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/loading-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/user/user-dropdown-menu.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/user/edit-user.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/game-styles/game.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/game-styles/card-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/game-styles/announce-style.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/game-styles/pending-game.css}">
    <link rel="stylesheet" th:href="@{/css/project-styles/bootstrap-tweaks.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="/js/libs/jquery-compressed.js"></script>
    <script src="/js/libs/popper.min.js"></script>
    <script src="/js/libs/bootstrap.js"></script>
    <script src="/js/libs/mdb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <!--  it is important this is first  -->
    <script src="js/LoggedInUser.js"></script>
    <script src="js/scripts/view-script.js"></script>
    <script src="js/scripts/authentication-scripts/registration-validation-script.js"></script>
    <script src="js/scripts/authentication-scripts/register-login-scripts.js"></script>
    <script src="js/utils/constants/error-messages.js"></script>
    <script src="js/utils/constants/success-messages.js"></script>
    <script src="js/utils/constants/constants.js"></script>
    <script src="js/utils/constants/colors.js"></script>
    <script src="js/utils/loading-view-utils.js"></script>
    <script src="js/utils/util-functions.js"></script>
    <script src="js/utils/snackbar.js"></script>
    <script src="js/components/sockets/WebSocket.js"></script>
    <script src="js/game/components/Renderer.js"></script>
    <script src="js/game/components/Announce.js"></script>
    <script src="js/game/components/Card.js"></script>
    <script src="js/game/scripts/handle-response.js"></script>
    <script src="js/game/scripts/create-game.js"></script>
    <script src="js/game/scripts/announce-scripts.js"></script>
    <script src="js/game/scripts/join-game.js"></script>
    <script src="js/game/scripts/leave-game.js"></script>
</th:block>