<div class="card app-background">

    <h5 class="card-header app-text text-center py-3 app-primary">
        <strong>Sign in</strong>
    </h5>
    <div class="card-body px-lg-3 pt-0">
        <form id="login-form" action="/login" method="post" class="p-1 app-background">
            <div class="loading-screen-container login-loading">
                <div class="md-form">
                    <div>
                        <i class="fas fa-user prefix"></i>
                        <input type="text" name="username" class="form-control" id="login-username" required>
                        <label for="login-username">Username or email</label>
                    </div>
                </div>
                <div class="md-form">
                    <div>
                        <i class="fas fa-key prefix"></i>
                        <input name="password" type="password" class="form-control" id="login-password"
                               required>
                        <label for="login-password">Password</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn app-btn-primary w-100 btn-rounded">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
