<div class="card app-background">

    <h5 class="card-header app-text text-center py-3 app-primary">
        <strong>Register</strong>
    </h5>

    <div class="card-body px-lg-3 pt-0">
        <form id="register-form" class="form-authentication loading-screen-container register-loading app-background"
              action="/register" method="POST">
            <div class="md-form">
                <div class="loading-screen-container register-username">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" name="username" class="form-control validate" id="register-username" required>
                    <label id="register-username-label" for="register-username" data-error="wrong" data-success="right">Username
                        or email</label>
                </div>
            </div>
            <div class="md-form">
                <div class="loading-screen-container register-email">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="text" name="email" class="validate form-control " id="register-email"/>
                    <label id="register-email-label" for="register-email" data-error=""
                           data-success="">Email:</label>
                </div>

            </div>
            <div class="md-form mb-2">
                <div class="loading-screen-container">
                    <i class="fas fa-key prefix"></i>
                    <input type="password" name="password" class="validate form-control" id="register-password"/>
                    <label id="register-password-label" for="register-password" data-error="wrong" data-success="right">Password:</label>
                </div>
            </div>
            <div class="md-form mb-2">
                <div class="loading-screen-container">
                    <i class="fas fa-key prefix"></i>
                    <input id="register-confirm-password" type="password" name="confirmPassword"
                           class="form-control validate"/>
                    <label id="register-confirm-password-label" for="register-confirm-password" data-error="wrong"
                           data-success="right">Confirm Password:</label>
                </div>
            </div>
            <div id="register-submit" class="text-center">
                <button type="button" onclick="isRegisterFormValidated()" class="btn app-btn-primary w-100 btn-rounded">Register</button>
            </div>
        </form>
    </div>
</div>