<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MagicBelot</title>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<th:block th:replace="~{fragments/modals/auth-modals.html}"/>
<div class="wrapper">
    <nav>
        <ul class="navigation">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="#" id="login" data-toggle="modal" data-target="#modal-login">Login</a>
            </li>
            <!--            <li sec:authorize="!isAuthenticated()"><a id="login">Login</a></li>-->
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="#" id="register" data-toggle="modal"
                   data-target="#modal-register">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form id="logout_form" action="/logout"
                      method="post">

                    <a href="#" class="nav-link" onclick="document.getElementById('logout_form').submit();">Log out</a>
<!--                    <input type="hidden"-->
<!--                           th:name="${_csrf.parameterName}"-->
<!--                           th:value="${_csrf.token}"/>-->
                </form>
            </li>
        </ul>
    </nav>
    <main class="view-container">
        <nav>
            <ul class="game-nav">
                <li><a id="play" class="view-nav-link nav-link" href="#">Play</a></li>
                <li><a class="view-nav-link nav-link" href="#">Ranking</a></li>
                <li><a class="view-nav-link nav-link" href="#">Shop</a></li>
                <li><a class="view-nav-link nav-link" href="#">How to play</a></li>
            </ul>
        </nav>
        <div class="current-view">
            <h1>My Thymeleaf Error Page  FOR DEBUG ONLY</h1>
            <table>
                <tr>
                    <td>Date</td>
                    <td th:text="${timestamp}"/>
                </tr>
                <tr>
                    <td>Path</td>
                    <td th:text="${path}"/>
                </tr>
                <tr>
                    <td>Error</td>
                    <td th:text="${error}"/>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${status}"/>
                </tr>
                <tr>
                    <td>Message</td>
                    <td th:text="${message}"/>
                </tr>
                <tr>
                    <td>Exception</td>
                    <td th:text="${exception}"/>
                </tr>
                <tr>
                    <td>Trace</td>
                    <td>
                        <pre th:text="${trace}"/>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</div>
<!--<script src="js/scripts/view-script.js"></script>-->
</body>
</html>