<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MagicBelot</title>
    <th:block th:include="~{fragments/head}"/>
</head>
<body class="app-background">
<th:block th:replace="~{fragments/modals/profile-page-modal}"/>
<th:block th:replace="~{fragments/modals/auth-modals.html}"/>
<th:block th:include="~{fragments/modals/game-search-found}"/>
<th:block th:include="~{fragments/modals/search-ranked-modal}"/>
<th:block th:include="~{fragments/user/user-side-nav}"/>

<div class="wrapper">
    <nav>
        <ul class="navigation app-primary has-shadow">
            <li class="switch float-left">
                <label>
                    <!--                    Dark theme-->
                    <input type="checkbox" id="themeSwitch" checked>
                    <span class="lever"></span>
                    <!--                    Default theme-->
                </label>
            </li>
            <li class="switch float-left">
                <label>
                    <!--                    Dark theme-->
                    <input type="checkbox" id="graphicsSwitch">
                    <span class="lever"></span>
                    <!--                    Default theme-->
                </label>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="#" id="login" data-toggle="modal" data-target="#modal-login">Login</a>
            </li>

            <li sec:authorize="isAnonymous()">
                <a class="nav-link" href="#" id="register" data-toggle="modal"
                   data-target="#modal-register">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <span class="nav-link menu-toggle button-collapse" data-activates="slide-out">
                <p class="mr-2 app-text" th:text="${#authentication.getPrincipal().getUsername()}">
                </p>

                <img class="user-image-small"
                     src="https://www.pngfind.com/pngs/m/341-3416003_no-avatar-pic-unknown-person-png-transparent-png.png"
                     alt="profile picture small"/>
                </span>
            </li>
        </ul>
    </nav>
    <main class="view-container has-shadow">
        <nav>
            <ul class="game-nav app-primary app-divider">
                <li><a id="play" class="view-nav-link nav-link has-shadow" href="#">Play</a></li>
                <li><a class="view-nav-link nav-link has-shadow" href="#">Ranking</a></li>
                <li><a class="view-nav-link nav-link has-shadow" href="#">Shop</a></li>
                <li><a class="view-nav-link nav-link has-shadow" href="#">How to play</a></li>
            </ul>
        </nav>
        <div id="currentView" class="current-view app-primary-light">
            <div class="hand"></div>
        </div>
    </main>

    <th:block th:include="~{fragments/modals/game-search-inprogress}"/>
    <audio src="/sounds/game-ready.ogg" id="gameReadyAudio"></audio>
</div>
<!--<th:block th:include="~{fragments/footer}"/>-->
</body>
</html>