.announce-wrapper{
    position:absolute;
    border:1px solid #EEE;
    box-shadow: 2px 2px 5px #CCC;
    background:#CCC;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}
.announce-row{
    font-size:0.8rem;
}
.announce-btn{
    margin:0;
    margin-top:10px;
    position:relative;
    padding:5px;
}