.hand{
    /*padding:10px;*/
    white-space: nowrap;
    position: absolute;
}
.enemies > .hand {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}
.belot-card{
    display:inline-block;
    position:relative;

    width:90px;
    top:0;
    transition:top .8s ease-in-out;
}

.belot-card.high-graph{

}

.belot-card.low-graph{
    border:2px solid #999;
    background:#BDBDBD;
    padding:0 5px;


}
.belot-card:hover{
    transition:top .8s ease-out;
    background:#DEDEDE;
    top:-30px;
}
.card-row{
    display:block;
    height:3px;
}
.suits-two{
    display: flex;
    justify-content: space-evenly;
}
.last-row{
    text-align: right;
    padding-bottom: 18px;
}
.first-row{
    padding-top:5px;
    text-align: left;
}
.middle-row{
    text-align:center;
}