.game-wrapper{
    position:relative;
}
.players{
    width: 100%;
}
.players .partner, .players .you{
    text-align: center;
}
.players .enemies{
    /*margin:50px auto;*/
}
.players > p {
    text-align: center;
}
.player-picture{
    width:70px;
    height:70px;
    border:2px solid #CCC;
    border-radius:50%;
}
