@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*TODO: split this into different css files*/

* {
    font-size:16px;
}
body{
    /*overflow-x:hidden;*/
}
a {
    text-decoration: none;
}
.loading-screen-container{
    position:relative;
}
#slidingDiv{
    position:absolute;
    top:-300px;
    transition:all .8s ease-in-out;
}
.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
    animation-duration: 2s;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -o-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}


.paper-snackbar {
    transition-property: opacity, bottom, left, right, width, margin, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-family: RobotoDraft, serif;
    font-size: 14px;
    min-height: 14px;
    background-color: #323232;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 22px;
    padding: 18px 24px;
    bottom: 0px;
    opacity: 0;

}

@media (min-width: 640px) {
    .paper-snackbar {
        /*
        Desktop:
          Single-line snackbar height: 48 dp tall
          Minimum width: 288 dp
          Maximum width: 568 dp
          2 dp rounded corner
          Text: Roboto Regular 14 sp
          Action button: Roboto Medium 14 sp, all-caps text
          Default background fill: #323232 100%
        */

        min-width: 288px;
        max-width: 568px;
        display: inline-flex;
        border-radius: 2px;
        margin: 24px;
        bottom: -100px;

    }
}

@media (max-width: 640px) {
    .paper-snackbar {
        /*
        Mobile:
          Single-line snackbar height: 48 dp
          Multi-line snackbar height: 80 dp
          Text: Roboto Regular 14 sp
          Action button: Roboto Medium 14 sp, all-caps text
          Default background fill: #323232 100%  
        */
        left: 0px;
        right: 0px;
    }
}

.paper-snackbar .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: #ffeb3b;
    margin: 0px 0px 0px 24px;
    padding: 0px;
    min-width: min-content;
}



/*TODO:make another style file*/
#minimizedGameSearch{
    position: fixed;
    right:-1px;
    bottom: -6px;
    border-top-left-radius: 20px;
    padding:20px;
    box-shadow:1px 1px 2px #000 inset;
    border:1px solid #EEE;

    display:none;
    text-align:center;
}
#minimizedGameSearch > button{
    margin-top:5px;
}
