.loading-background{
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(71, 226, 255, 0.2);
}
.loading-wrapper{
    top:10%;
    position:relative;
    width:30px;
    height:30px;
    margin:auto;
}
.loading-inner{
    position:absolute;
    left:5px;
    top:5px;

    width:20px;
    height:20px;
}
.loading-wrapper:after{
    content: " ";
    display: block;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #47e2ff teal;
    animation: loadingAnimation 1.2s ease infinite;
}
.loading-inner:after{
    content: " ";
    display: block;
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 5px solid teal;
    border-color:teal #47e2ff;
    animation: loadingAnimation 1.5s ease infinite;
}
@keyframes loadingAnimation {
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
    }

}