.navigation {
    /*background: #D8F6F8;*/
    padding-right: 15px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 4px 8px #EEE;
}

.navigation > li {
    padding: 10px;
    margin: 0 5px;
}
.navigation a, .navigation .nav-link > p {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
.menu-toggle{
    display: flex;
    align-items: center;
}
.menu-toggle:first-child{
    margin-right:10px;
}
.menu-toggle:hover{
    background:rgba(0,0,0,0.3);
    cursor: pointer;
}