.view-container {
    width: 96%;
    margin: 30px auto;
    box-shadow: 0 3px 9px #CCC;
    /*border: 10px solid transparent;*/
    /*border-image: url("/sprites/game-border.png") 5% 10 10 repeat;*/
}
.game-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #DDD;
}
.view-nav-link{
    padding:20px;
    font-size:1.1rem;
    font-family: 'Lato', sans-serif;
}



/*NOT FOR HERE
TODO: move to seperate CSS file and import it into head.html*/
.initial-view{
    display:flex;
    justify-content: space-around;
    padding:15px 0;
}