<div id="game" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="game-nav">
        <h2>Welcome to Magic Belot</h2>
<!--        If welcome message is changed you should change HomeControllerTests.class too -->
    </div>
    <div class="game-view">
    </div>
</div>